<h1>Surveys room: <%= @room.name %></h1>
<table class="table">
  <thead>
  </thead>
  <tbody>
    <% @room.surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
