<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Aplicación de chat básico
      </h4>

      <p>
        El esqueleto de esta aplicación lo puedes
          <del>encontrar <a href="https://iridakos.com/programming/2019/04/04/creating-chat-application-rails-websockets" target="_blank">acá</a></dev>
      </p>
      <p>
        Si bien esta aplicación se comenzó con el esqueleto anterior, ahora eso ya no sirve. La última versión que ocupó ese esqueleto fue la versión 1.1.
      </p>
      <p>
        Ahora la aplicación se ha reconstruido por completa, y ya no usa ActionCable y JavaScript como en el esqueleto anterior, si no que ahora se ocupa <strong>hotwire.</strong>
      </p>

      <hr />

      <p>
        En la barra lateral están las salas de chat a las cuales puedes entrar
      </p>
    </div>
  </div>
<div class="col-12 col-md-3">
  <ul style="float:right "> 
    <ul class="list-group float:right">
      <li class="float:right list-group-item">Usuarios Registrados
      <li class="list-group-item list-group-item-action list-group-item-primary">
        <div style="float:right col-12 col-md-3">
          <% @users.each do |user| %> 
          <p class="col-12 col-md-3"><%= user.username %>  </p>
          <% end %>
        </div>
      </li>
      </li>
    </ul>
  </ul>
    
</div>
