<div class="row">
  <div class="col-12 col-md-3">
  <h1>dasdsa</h1>
    <%= render partial: 'dummy' %>
    <%= render partial: 'rooms' %>
  <h1>qweewq</h1>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the RailsChatTutorial!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>
  </div>
</div>

