<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Aplicación de chat básico
      </h4>

      <p>
        El esqueleto de esta aplicación lo puedes encontrar <a href="https://iridakos.com/programming/2019/04/04/creating-chat-application-rails-websockets" target="_blank">acá</a>
      </p>

      <hr />

      <p>
        En la barra lateral están las salas de chat a las cuales puedes entrar
      </p>
    </div>
  </div>
</div>

